/* Estilos por defecto (modo claro) */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ccf7fe; /* Color azul claro */
    border-bottom: 2px solid #007bff; /* Línea azul fuerte */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
    color: black;  /* Texto negro para el modo claro */
  }
/* Estilos generales */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Fondo suave */
  }
  
  .formContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  /* Clase local para el título */
  .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #007bff;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .inputGroup {
    margin-bottom: 15px;
  }
  
  .inputGroup label {
    font-size: 14px;
    color: #333;
  }
  
  .inputGroup input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .success {
    color: green;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .submitButton {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }
  
  .backToLogin {
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    cursor: pointer;
  }
  
  .backToLogin:hover {
    text-decoration: underline;
  }